transformers>=4.40
cleanlab>=2.6
coral-pytorch>=1.4
google-play-scraper>=1.2
py3langid>=0.2
pandas>=2.0
numpy>=1.24
scikit-learn>=1.3
scipy>=1.10
statsmodels>=0.14
tqdm>=4.65
matplotlib>=3.7
seaborn>=0.12